.cmd-window-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .cmd-window {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    text-align: left;
    height: 100%; /* Ensure it takes up the full height */
    overflow: hidden; /* Prevent the cmd-window from overflowing */
  }
  
  .cmd-window > .window-content
  {
    overflow: auto;
    padding: 10px;
    height: calc(100% - 60px);
  }

  .cmd-output {
    flex-grow: 1;
    overflow-y: auto; /* Make the output area scrollable */
    margin-bottom: 10px; /* Add some space below the output */
    color: white;
  }
  
  .cmd-input-line {
    display: flex;
    align-items: center;
    color: white;
  }
  
  .cmd-input-line input {
    background: none;
    border: none;
    color: white;
    flex-grow: 1;
    font-family: monospace;
    outline: none;
  }
  
  .cmd-input {
    margin-bottom: 5px;
    
  }
  
  .cmd-output div {
    white-space: pre-wrap; /* Preserve whitespace and line breaks */
  }
  