.cmd-window-container {
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensure it takes up the full height */
  }
  
  .minesweeper-window {
    background-color: #c3c3c3;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    text-align: left;
    height: 100%; /* Ensure it takes up the full height */
    overflow: hidden; /* Prevent the cmd-window from overflowing */
  }
  
  .minesweeper-window > .window-content
  {
    padding: 0px;
    overflow: hidden;
  }

  .cmd-output {
    flex-grow: 1;
    overflow-y: auto; /* Make the output area scrollable */
    margin-bottom: 10px; /* Add some space below the output */
    color: white;
  }
  
  .cmd-input-line {
    display: flex;
    align-items: center;
    color: white;
  }
  
  .cmd-input-line input {
    background: none;
    border: none;
    color: white;
    flex-grow: 1;
    font-family: monospace;
    outline: none;
  }
  
  .cmd-input {
    margin: 5px 0px 5px 0px;
    
  }
  
  .cmd-output div {
    white-space: pre-wrap; /* Preserve whitespace and line breaks */
  }
  

  /* game */

  .minesweeper-grid
  {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .minesweeper-cell
  {
    width: 25px;
    height: 25px;
    border: rgb(83, 81, 81) 1px solid;
    background-color: #9b9b9b;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .minesweeper-cell:hover
  {
    cursor: pointer;
    scale: 1.1;
    background-color: #7e7e7e;
  }

  .revealed
  {
    background-color: #f0f0f0 !important;
  }

  .cell-icon
  {
    width: 100%;
    height: 100%;
  }

  .bomb
  {
    background-color: #ff3a3a;
  }

  .minesweeper-header
  {
    display: flex;
    justify-content: space-between;
  }

  .minesweeper-header-item > img
  {
    width: 50px;
    height: 50px;
  }
  .minesweeper-header-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Digital', monospace;
    font-size: 24px;
    color: red;
    background-color: black;
    padding: 5px 10px;
    border: 2px inset #333;
    width: 50px;
    height: 30px;
    text-align: center;
  }
  
  .reset-btn {
    border: black 1px solid;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }

  .reset-btn > img
  {
    object-fit: fill;
    width: 100%;
    height: 100%;
  }
  
  .reset-btn:hover
  {
    scale: 1.1;
  }

  .minesweeper-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .reset-button {
    width: 30px;
    height: 30px;
  }
  

  .minesweeper-difficulty-header {
    display: flex;
    align-items: center;
    background-color: #ddd;
    border-bottom: 1px solid #bbb;
    justify-content: space-between;
  }
  
  .minesweeper-difficulty-header * 
  {
    flex: 1;
    background-color: #ddd;
    color: #000;
    border-radius: 0px;
  }

  .minesweeper-difficulty-header *:hover
  {
    border-color: #000;
  }

  .minesweeper-difficulty-header select {
    padding: 5px;
  }
  
  .minesweeper-cell.highlighted {
    background-color: #c5c5c5; /* Adjust to your preferred highlight color */
  }
  
  /* minesweeper.css */
.help-container {
  padding: 20px;
  font-size: 16px;
  height: calc(100% - 100px);
  overflow: auto;
}

.help-container h2 {
  margin-bottom: 10px;
}

.help-container ul {
  list-style-type: disc;
  margin-left: 20px;
}

.help-container li {
  margin-bottom: 5px;
}
