body {
  font-family: 'Tahoma', 'Segoe UI', 'Arial', sans-serif;
  font-size: 14px;
}

.window {
  min-width: 300px;
  min-height: 200px;
  background: #f0f0f0;
  border: 5px solid #006abe;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  overflow: hidden; /* Ensure the window itself does not show scrollbars */
}

.window-header {
  background: #006abe;
  color: white;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: grab;
}

.window-content {
  flex-grow: 1;
  padding: 0px;
  overflow: hidden; /* Enable scrolling within the content area */
  cursor: default; /* Default cursor for non-draggable area */
  color: black;
  height: calc(100% - 22px);
}

.close-button {
  background-color: #ec1925;
  padding: 0px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.5em;
}

.folder-content .icon span {
  color: black;
}

.folder-content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}


/* notepad window */

.notepad-window
{
  min-width: 300px;
  min-height: 300px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  text-align: left;
  height: 100%; /* Ensure it takes up the full height */
  overflow: hidden; /* Prevent the cmd-window from overflowing */
}

.notepad-window > .window-content
{
  padding: 0px;
  height: calc(100% - 18px);
}

.notepad-window textarea
{
  width: 100%;
  height: calc(100% - 20px);
  box-sizing: border-box;
  border: none;
  resize: none;
  font-family: monospace;
  font-size: 14px;
  background: white;
  color: black;
  overflow-y: auto;
  padding: 10px;
  outline: none;
}

/* PasswordPrompt */
.password-prompt
{
  height: auto!important;
}

.input-password
{
  background: #fff;
  color: #000;
}

.password-prompt-content
{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.password-prompt-img
{
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-prompt-img > img
{
  width: 50px;
}
.password-prompt-title
{
  text-align: left;
  flex-basis: 60%;
}

.password-prompt-buttons
{
  margin-right: 10px;
}
.password-prompt-buttons > button
{
  width: 100%;
  margin: 10px 0px 10px;
  background: #fff;
  color: #000;
  border: 1px solid #000;
}

.password-prompt-buttons > button:hover
{
  border: -2px solid #006abe;
}


.pdf-window > .window-content > div
{
  height: 100%;
  overflow-y: scroll;
}

.not-active-click
{
  cursor: not-allowed !important;
}

.my-computer-drive
{
  padding: 10px;
  border-radius: 10px;
}

.my-computer-drive:hover
{
  cursor: pointer;
  background-color: #5c90d62b;
}